body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  color: #2e2f32;
  font-weight: 400;
}

.rc-pagination-item-active {
  background-color: #ff7300 !important;
  border-color: #ff7300 !important;
}

.box-1 {
  background-image: linear-gradient(to left, #ffa400 0%, #ff2e19 100%);
  padding: 90px 0;
  position: relative;
}

.box-1::before {
  z-index: 0;
  content: '';
  background-image: url(http://resources.passeidireto.com/website-anonymous/images/home-v2/header-top-2.png);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background-position: top center;
  background-repeat: no-repeat;
}

.box-1::after {
  z-index: 1;
  content: '';
  background-image: url(http://resources.passeidireto.com/website-anonymous/images/home-v2/header-top-3.png);
  height: 85px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
